*,h1,h2,h3,h4,h5,h6, ul, li, ol{
    margin:0; padding:0;
}
body {
    font-family: Poppins;

}
.ustcubuk {
    background-color: #FE434E;
    min-height: 80px;
    color: white;
}
.anaBaslik{
    padding:10px 20px;
    width:200px;
    float:left;
}
.kullaniciAlani {
    padding: 10px 20px;
    width: 300px;
    float: right;
}
.kullanicieleman
{
    padding-top:15px;
    padding-left:10px;
    color:white;
    float:left;
    text-decoration:none;
}
    .kullanicieleman:hover {
        text-decoration: underline;
    }
.anaMenu{
    width:210px;
    padding:20px 0;
    background-color:#e4e4e4;
    height:850px;
    float:left;
}
.anaMenu .cizgi{
    border-bottom:1px solid white;

}
.anaMenu a {
    text-decoration: none;
    display: block;
    color: #7a060d;
    padding: 5px 15px;
}
    .anaMenu a:hover {
        color: white;
        background-color:#d8a7a7;
    }
.anaIcerik{
    float:left;
    padding:20px;
}
